@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins";
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #1a2b89;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header,
main,
footer {
  width: 95%;
  max-width: 480px;
}

ul {
  list-style: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0rem;
}

header img {
  width: 25%;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1rem;
  color: #585989;
}

main .FirstSection {
  padding: 2rem;
  margin-top: 3rem;
  text-align: center;
}

main .FirstSection img {
  width: 100%;
  margin-bottom: 2rem;
}

main .FirstSection h1 {
  color: #070439;
  margin: 2rem 0rem;
}

main .FirstSection p {
  color: #585989;
  line-height: 2;
  margin-bottom: 2rem;
}

main .FirstSection input {
  padding: 0.5rem 1rem;
  width: 85%;
  border: 1px solid #070439;
}

main .FirstSection button {
  background-color: #3065f8;
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #f6f6fe;
  width: 85%;
}

main .FirstSection button:hover {
  background-color: #6b8fef;
}

main .SecondSection {
  padding: 2rem;
  margin-top: 3rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f6fe;
}

main .SecondSection img {
  width: 100%;
}

main .SecondSection .topbg {
  position: absolute;
  top: -43px;
  right: 0;
}

main .SecondSection .Details {
  padding: 2rem 0rem;
  margin-top: 3rem;
}

main .SecondSection .Details h4 {
  color: #070439;
  text-align: center;
  margin: 2rem 0rem;
}

main .SecondSection .Details p {
  color: #bfbfbf;
}

main .SecondSection .SeeHowWorks {
  text-align: center;
  margin: 3rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .SecondSection .SeeHowWorks div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid #3c9f8f;
}

main .SecondSection .SeeHowWorks p {
  text-align: center;
  color: #3c9f8f;
  display: inline-block;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}

main .SecondSection .SeeHowWorks img {
  width: 28px;
  padding-bottom: 0.5rem;
}

main .SecondSection .quoteCard {
  width: 100%;
  background-color: white;
  padding: 1rem;
}

main .SecondSection .quoteCard img {
  width: 14px;
}

main .SecondSection .quoteCard blockquote {
  font-size: 0.8rem;
  margin: 1rem 0rem;
}

main .SecondSection .quoteCard .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .SecondSection .quoteCard .author img {
  width: 50px;
  border-radius: 3rem;
  margin-right: 1.5em;
}

main .SecondSection .quoteCard .author .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .SecondSection .quoteCard .author .name h4 {
  margin: 0rem;
}

main .SecondSection .quoteCard .author .name p {
  font-size: 0.7rem;
  color: #070439;
}

main .ThirdSection {
  text-align: center;
  background-color: #585989;
  padding: 3rem 4rem;
  color: #f6f6fe;
}

main .ThirdSection h3 {
  margin: 1rem 0rem;
}

main .ThirdSection p {
  font-size: 0.8rem;
  margin: 1rem 0rem;
  line-height: 1.2rem;
}

main .ThirdSection input {
  padding: 0.5rem 1rem;
  width: 85%;
}

main .ThirdSection button {
  background-color: #3065f8;
  border: none;
  padding: 0.5rem 0rem;
  margin-top: 0.5rem;
  color: #f6f6fe;
  width: 85%;
}

main .ThirdSection button:hover {
  background-color: #6b8fef;
}

footer {
  padding: 3rem 3rem;
  background-color: #070439;
  color: #bfbfbf;
}

footer .icons {
  display: inline-block;
  margin-right: 1rem;
}

footer ul {
  margin: 3rem 0rem;
}

footer li {
  margin: 0.5rem 0rem;
}

footer .social-icons {
  text-align: center;
}

footer .icon:hover {
  color: #3065f8;
  cursor: pointer;
}

@media (min-width: 768px) {
  header,
  main,
  footer {
    width: 100%;
    max-width: 100%;
  }
  body {
    font-size: 20px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem 2rem;
  }
  header img {
    width: 20%;
  }
  main {
    padding: 0rem;
  }
  main .FirstSection {
    text-align: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .FirstSection img {
    width: 50%;
    margin-bottom: 2rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  main .FirstSection .Title h1 {
    margin: 2rem 0rem;
    font-size: 1.5rem;
  }
  main .FirstSection .Title p {
    color: #585989;
    line-height: 2;
    font-size: 0.8rem;
    margin-bottom: 2rem;
  }
  main .FirstSection .Title .Form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .FirstSection .Title .Form input {
    padding: 0.7rem 1rem;
    width: auto;
    height: auto;
  }
  main .FirstSection .Title .Form button {
    padding: 0.5rem 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0rem;
    color: #f6f6fe;
    width: auto;
  }
  main .SecondSection {
    padding: 0rem 3rem;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .SecondSection img {
    width: 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  main .SecondSection .topbg {
    position: absolute;
    top: -43px;
    right: 0;
  }
  main .SecondSection .Details {
    margin-top: 0rem;
  }
  main .SecondSection .Details h4 {
    font-size: 1.5rem;
    text-align: start;
    margin: 1rem 0rem;
  }
  main .SecondSection .Details p {
    color: #070439;
    font-size: 0.8rem;
  }
  main .SecondSection .SeeHowWorks {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  main .SecondSection .SeeHowWorks p {
    color: #3c9f8f;
  }
  main .SecondSection .quoteCard {
    width: 80%;
    background-color: white;
    padding: 1rem;
  }
  main .SecondSection .quoteCard img {
    width: 14px;
  }
  main .SecondSection .quoteCard .author .name {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  main .SecondSection .quoteCard .author .name h4 {
    font-size: 0.8rem;
  }
  main .SecondSection .quoteCard .author .name p {
    font-size: 0.5rem;
  }
  main .ThirdSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: start;
    gap: 5rem;
  }
  main .ThirdSection .earlyAccess {
    width: 90%;
    padding-right: 2rem;
  }
  main .ThirdSection .Form2 {
    width: 100%;
  }
  main .ThirdSection input {
    padding: 0.5rem 1rem;
    width: 100%;
  }
  main .ThirdSection button {
    width: 50%;
  }
  footer .icons {
    display: inline-block;
    margin-right: 1rem;
  }
  footer .gridFooter {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    margin-top: 2rem;
  }
  footer ul {
    margin: 0rem;
  }
}

@media (min-width: 1024px) {
  header,
  main,
  footer {
    padding: 3rem;
  }
  html {
    font-size: 20px;
  }
  header img {
    width: 20%;
  }
  main {
    padding: 0rem;
  }
  main .FirstSection {
    padding: 0rem 3rem;
  }
  main .FirstSection img {
    margin-bottom: 0rem;
  }
  main .FirstSection .Title .Form input {
    padding: 0.8rem 1rem;
  }
  main .SecondSection {
    padding: 0rem 3rem;
    gap: 4rem;
  }
  main .SecondSection img {
    width: 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  main .SecondSection .Details h4 {
    font-size: 1.1rem;
    font-weight: bold;
  }
  main .SecondSection .Details p {
    color: #070439;
    font-size: 0.7rem;
  }
  main .SecondSection .SeeHowWorks {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 0.5rem 0rem;
  }
  main .SecondSection .SeeHowWorks p {
    color: #3c9f8f;
  }
  main .SecondSection .quoteCard .author .name h4 {
    font-size: 0.8rem;
  }
  main .SecondSection .quoteCard .author .name p {
    font-size: 0.5rem;
  }
  main .ThirdSection {
    padding: 4rem 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: start;
    gap: 5rem;
  }
  main .ThirdSection .earlyAccess {
    width: 90%;
    padding-right: 2rem;
  }
  main .ThirdSection .Form2 {
    width: 100%;
  }
  main .ThirdSection input {
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 400px;
  }
  main .ThirdSection button {
    width: 50%;
    max-width: 250px;
  }
}

@media (min-width: 1640px) {
  body {
    font-size: 60px;
  }
  header img {
    width: 15%;
  }
  main {
    padding: 0;
  }
  main .FirstSection {
    padding: 0rem 3rem;
  }
  main .FirstSection img {
    margin-bottom: 0rem;
  }
  main .FirstSection .Title h1 {
    font-size: 3rem;
  }
  main .FirstSection .Title p {
    font-size: 2rem;
  }
  main .FirstSection .Title .Form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .FirstSection .Title .Form input {
    padding: 2rem;
    font-size: 1.5rem;
    width: auto;
    height: 130px;
  }
  main .FirstSection .Title .Form button {
    margin: 0;
    margin-left: 1rem;
    padding: 0rem 1rem;
    height: 130px;
    font-size: 2rem;
    width: 350px;
  }
  main .SecondSection {
    padding: 0rem 3rem;
  }
  main .SecondSection .Details h4 {
    font-size: 3rem;
  }
  main .SecondSection .Details p {
    font-size: 1.7rem;
  }
  main .SecondSection .SeeHowWorks {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 0.5rem 0rem;
  }
  main .SecondSection .SeeHowWorks img {
    width: 50px;
  }
  main .SecondSection .SeeHowWorks p {
    color: #3c9f8f;
    font-size: 1.7rem;
  }
  main .SecondSection .quoteCard img {
    width: 60px;
  }
  main .SecondSection .quoteCard blockquote {
    font-size: 2rem;
  }
  main .SecondSection .quoteCard .author img {
    width: 120px;
  }
  main .SecondSection .quoteCard .author .name h4 {
    font-size: 2rem;
  }
  main .SecondSection .quoteCard .author .name p {
    font-size: 1.5rem;
  }
  main .ThirdSection .earlyAccess h3 {
    font-size: 3rem;
  }
  main .ThirdSection .earlyAccess p {
    font-size: 2rem;
    line-height: 1.5;
  }
  main .ThirdSection .Form2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  main .ThirdSection input {
    padding: 0rem 2rem;
    font-size: 2rem;
    width: auto;
    height: 130px;
    max-width: 900px;
  }
  main .ThirdSection button {
    margin-top: 1rem;
    padding: 0rem 1rem;
    height: 130px;
    font-size: 2rem;
    max-width: 600px;
    width: 100%;
  }
  footer img {
    width: 12%;
  }
  footer .gridFooter img {
    width: 50px;
  }
}
/*# sourceMappingURL=style.css.map */