@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins";
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #1a2b89;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

main {
  width: 80%;
  max-width: 380px;
}

footer {
  width: 100%;
  max-width: 380px;
}

header {
  position: relative;
  width: 100%;
  max-width: 380px;
  padding: 0em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .bgimage {
  position: absolute;
  top: 0;
  background-image: url(../images/bg-header-mobile.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 380px;
  background-size: cover;
}

header .logoC {
  width: 30%;
  margin: 5em 0;
}

header .title {
  width: 80%;
  max-width: 380px;
}

h1,
h2,
h3 {
  color: #4c545d;
}

p {
  color: #9fabb2;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 2em 0em;
  gap: 1.5em;
}

.row button {
  width: 65%;
  padding: 1em 0em;
  color: white;
  border: none;
  border-radius: 3em;
  font-weight: bold;
  background-color: #6173ff;
  -webkit-box-shadow: -6px 6px 10px -2px #6173ff;
          box-shadow: -6px 6px 10px -2px #6173ff;
}

.row button:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.row :first-child {
  background-color: #26baa4;
  -webkit-box-shadow: -6px 6px 10px -4px #26baa4;
          box-shadow: -6px 6px 10px -4px #26baa4;
}

header h1 {
  font-size: 1.8em;
  margin-bottom: 1em;
}

header p {
  margin-bottom: 1em;
}

.FirstSection,
.secondSection,
.ThirdSection {
  margin: 8em 0em;
}

.FirstSection img,
.secondSection img,
.ThirdSection img {
  width: 100%;
  margin: 3em 0;
}

.FirstSection h1,
.secondSection h1,
.ThirdSection h1 {
  font-size: 1.8em;
  margin-bottom: 1em;
}

.FirstSection p,
.secondSection p,
.ThirdSection p {
  margin-bottom: 1em;
}

.FirstSection h2,
.secondSection h2,
.ThirdSection h2 {
  margin-bottom: 0.5em;
}

.FirstSection .details p,
.secondSection .details p,
.ThirdSection .details p {
  margin-bottom: 2em;
}

.ThirdSection img {
  width: 15%;
}

.ForthSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4em;
  margin-bottom: 8em;
}

.ForthSection img {
  width: 50%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8em;
  background-color: #f0f5f8;
  padding: 2em 0;
  gap: 2.5em;
}

footer img {
  width: 20%;
}

footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
}

footer .links :last-child {
  font-size: 1.2em;
  font-weight: bold;
  color: #4c545d;
}

footer .links :last-child:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: #26baa4;
  font-weight: bold;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer .socialicons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3em;
}

footer .socialicons i:hover {
  color: #26baa4;
  cursor: pointer;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: #26baa4;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a {
  text-decoration: none;
  color: #9fabb2;
  font-size: 1.2em;
}

@media only screen and (min-width: 720px) {
  header,
  footer {
    width: 100%;
    max-width: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    max-width: 90%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 2em 8em;
    margin-top: 4em;
  }
  footer img {
    width: 40px;
  }
  footer .links {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    text-align: start;
    gap: 1.5em 1em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
  footer .socialicons {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-item-align: end;
        align-self: flex-end;
    gap: 1em;
  }
  footer .socialicons i {
    font-size: 1.5em;
  }
  header .bgimage {
    position: absolute;
    top: 0;
    background-image: url(../images/bg-header-desktop.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 380px;
  }
  header .logoC {
    width: 100px;
  }
  header p {
    max-width: 550px;
  }
  header .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 400px;
  }
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 400px;
  }
  .FirstSection {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 4em 0em;
  }
  .FirstSection p {
    max-width: 550px;
  }
  .FirstSection .subsection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .FirstSection .subsection img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
    width: 60%;
  }
  .FirstSection .subsection .details {
    padding: 0em 1em;
    text-align: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .secondSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0em 0em;
  }
  .secondSection p {
    max-width: 550px;
  }
  .secondSection img {
    max-width: 600px;
  }
  .ThirdSection {
    margin: 4em 0;
  }
  .ThirdSection .explication {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0em 0em;
  }
  .ThirdSection .explication .image {
    height: 80px;
    padding-top: 1em;
  }
  .ThirdSection .explication img {
    margin: 0em;
  }
  .ThirdSection .explication .card {
    width: 80%;
    padding: 0 1em;
  }
  .ThirdSection .explication .card p {
    line-height: 1.5em;
  }
  .ForthSection {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
    margin-bottom: 6em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
  }
  .ForthSection img {
    width: 80px;
  }
  .FifthSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .FifthSection p {
    max-width: 550px;
    line-height: 1.5em;
    margin-top: 1em;
  }
  p {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 1020px) {
  footer img {
    width: 60px;
  }
  footer i {
    font-size: 2em;
  }
  .FirstSection .subsection img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-transform: translateX(-70px);
            transform: translateX(-70px);
    width: 60%;
  }
  .ThirdSection .explication .image {
    height: 80px;
  }
  .ThirdSection .explication img {
    width: 50px;
  }
  .ForthSection img {
    width: 130px;
  }
}
/*# sourceMappingURL=style.css.map */