@import "config";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header,
main,
footer {
  width: 95%;
  max-width: 480px;
}

ul {
  list-style: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
  img {
    width: 25%;
  }
  ul {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    color: $Desaturated-Blue;
  }
}

main {
  .FirstSection {
    padding: 2rem;
    margin-top: 3rem;
    text-align: center;
    img {
      width: 100%;
      margin-bottom: 2rem;
    }
    h1 {
      color: $Very-Dark-Blue;
      margin: 2rem 0rem;
    }
    p {
      color: $Desaturated-Blue;
      line-height: 2;
      margin-bottom: 2rem;
    }
    input {
      padding: 0.5rem 1rem;
      width: 85%;
      border: 1px solid $Very-Dark-Blue;
    }
    button {
      background-color: $Bright-Blue;
      border: none;
      padding: 0.5rem 2rem;
      font-size: 1rem;
      margin-top: 0.5rem;
      color: $Light-Grayish-Blue;
      width: 85%;
      &:hover {
        background-color: hsl(224, 81%, 68%);
      }
    }
  }
  .SecondSection {
    padding: 2rem;
    margin-top: 3rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: $Light-Grayish-Blue;
    img {
      width: 100%;
    }
    .topbg {
      position: absolute;
      top: -43px;
      right: 0;
    }
    .Details {
      padding: 2rem 0rem;
      margin-top: 3rem;
      h4 {
        color: $Very-Dark-Blue;
        text-align: center;
        margin: 2rem 0rem;
      }
      p {
        color: $Light-Gray;
      }
    }
    .SeeHowWorks {
      text-align: center;

      margin: 3rem 0rem;
      display: flex;
      justify-content: center;
      div {
        display: flex;
        justify-content: center;
        width: fit-content;
        border-bottom: 1px solid $Moderate-Cyan;
      }
      p {
        text-align: center;
        color: $Moderate-Cyan;
        display: inline-block;
        padding-right: 1rem;
        padding-bottom: 0.5rem;
      }
      img {
        width: 28px;
        padding-bottom: 0.5rem;
      }
    }
    .quoteCard {
      width: 100%;
      background-color: white;
      padding: 1rem;
      img {
        width: 14px;
      }
      blockquote {
        font-size: 0.8rem;
        margin: 1rem 0rem;
      }
      .author {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img {
          width: 50px;
          border-radius: 3rem;
          margin-right: 1.5em;
        }
        .name {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          h4 {
            margin: 0rem;
          }
          p {
            font-size: 0.7rem;
            color: $Very-Dark-Blue;
          }
        }
      }
    }
  }
  .ThirdSection {
    text-align: center;
    background-color: $Desaturated-Blue;
    padding: 3rem 4rem;
    color: $Light-Grayish-Blue;

    h3 {
      margin: 1rem 0rem;
    }
    p {
      font-size: 0.8rem;
      margin: 1rem 0rem;
      line-height: 1.2rem;
    }
    input {
      padding: 0.5rem 1rem;
      width: 85%;
    }
    button {
      background-color: $Bright-Blue;
      border: none;
      padding: 0.5rem 0rem;
      margin-top: 0.5rem;
      color: $Light-Grayish-Blue;
      width: 85%;
      &:hover {
        background-color: hsl(224, 81%, 68%);
      }
    }
  }
}

footer {
  padding: 3rem 3rem;
  background-color: $Very-Dark-Blue;
  color: $Light-Gray;
  .icons {
    display: inline-block;
    margin-right: 1rem;
  }
  ul {
    margin: 3rem 0rem;
  }
  li {
    margin: 0.5rem 0rem;
  }
  .social-icons {
    text-align: center;
  }
  .icon:hover {
    color: $Bright-Blue;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  header,
  main,
  footer {
    width: 100%;
    max-width: 100%;
  }
  body {
    font-size: 20px;
  }
  header {
    display: flex;
    align-items: center;
    padding: 2rem 2rem;
    img {
      width: 20%;
    }
  }

  main {
    padding: 0rem;
    .FirstSection {
      
      text-align: start;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 50%;
        margin-bottom: 2rem;
        order: 2;
      }
      .Title {
        h1 {
          margin: 2rem 0rem;
          font-size: 1.5rem;
        }
        p {
          color: $Desaturated-Blue;
          line-height: 2;
          font-size: 0.8rem;
          margin-bottom: 2rem;
        }
        .Form {
          display: flex;
          justify-content: start;
          align-items: center;
          input {
            padding: 0.7rem 1rem;
            width: auto;
            height: auto;
          }
          button {
            padding: 0.5rem 0.5rem;
            margin-left: 0.5rem;
            margin-top: 0rem;
            color: $Light-Grayish-Blue;
            width: auto;
          }
        }
      }
    }
    .SecondSection {
      padding: 0rem 3rem;
      position: relative;
      align-items: center;
      flex-direction: row;
      img {
        width: 50%;
        order: 2;
      }
      .topbg {
        position: absolute;
        top: -43px;
        right: 0;
      }
      .Details {
        margin-top: 0rem;
        h4 {
          font-size: 1.5rem;
          text-align: start;
          margin: 1rem 0rem;
        }
        p {
          color: $Very-Dark-Blue;
          font-size: 0.8rem;
        }
      }
      .SeeHowWorks {
        justify-content: start;
        p {
          color: $Moderate-Cyan;
        }
      }
      .quoteCard {
        width: 80%;
        background-color: white;
        padding: 1rem;
        img {
          width: 14px;
        }
        .author {
          .name {
            order: 2;
            h4 {
              font-size: 0.8rem;
            }
            p {
              font-size: 0.5rem;
            }
          }
        }
      }
    }
    .ThirdSection {
      display: flex;
      justify-content: start;
      align-items: center;
      text-align: start;
      gap: 5rem;
      .earlyAccess {
        width: 90%;
        padding-right: 2rem;
      }
      .Form2 {
        width: 100%;
      }
      input {
        padding: 0.5rem 1rem;
        width: 100%;
      }
      button {
        width: 50%;
      }
    }
  }
  footer {
    .icons {
      display: inline-block;
      margin-right: 1rem;
    }
    .gridFooter {
      display: grid;
      grid-template-columns: auto auto auto auto;
      margin-top: 2rem;
    }
    ul {
      margin: 0rem;
    }
  }
}
@media (min-width: 1024px) {
  header,
  main,
  footer {
    padding: 3rem;
  }
  html {
    font-size: 20px;
  }
  header {
    img {
      width: 20%;
    }
  }

  main {
    padding: 0rem;
    .FirstSection {
      padding: 0rem 3rem;
      img {
        margin-bottom: 0rem;
      }
      .Title {
        .Form {
          input {
            padding: 0.8rem 1rem;
          }
        }
      }
    }
    .SecondSection {
      padding: 0rem 3rem;

      gap: 4rem;
      img {
        width: 50%;
        order: 2;
      }

      .Details {
        h4 {
          font-size: 1.1rem;
          font-weight: bold;
        }
        p {
          color: $Very-Dark-Blue;
          font-size: 0.7rem;
        }
      }
      .SeeHowWorks {
        justify-content: start;
        margin: 0.5rem 0rem;
        p {
          color: $Moderate-Cyan;
        }
      }
      .quoteCard {
        .author {
          .name {
            h4 {
              font-size: 0.8rem;
            }
            p {
              font-size: 0.5rem;
            }
          }
        }
      }
    }
    .ThirdSection {
      padding: 0rem 3rem;
      display: flex;
      justify-content: start;
      align-items: center;
      text-align: start;
      gap: 5rem;
      .earlyAccess {
        width: 90%;
        padding-right: 2rem;
      }
      .Form2 {
        width: 100%;
      }
      input {
        padding: 0.5rem 1rem;
        width: 100%;
        max-width: 400px;
      }
      button {
        width: 50%;
        max-width: 250px;
      }
    }
  }
}
@media (min-width: 1640px) {
  body {
    font-size: 60px;
  }

  header {
    img {
      width: 15%;
    }
  }

  main {
    padding: 0;
    .FirstSection {
      padding: 0rem 3rem;
      img {
        margin-bottom: 0rem;
      }
      .Title {
        h1 {
          font-size: 3rem;
        }
        p {
          font-size: 2rem;
        }
        .Form {
          align-items: center;
          input {
            padding: 2rem;
            font-size: 1.5rem;
            width: auto;
            height: 130px;
          }
          button {
            margin: 0;
            margin-left: 1rem;
            padding: 0rem 1rem;
            height: 130px;
            font-size: 2rem;

            width: 350px;
          }
        }
      }
    }
    .SecondSection {
      padding: 0rem 3rem;
      .Details {
        h4 {
          font-size: 3rem;
        }
        p {
          font-size: 1.7rem;
        }
      }
      .SeeHowWorks {
        justify-content: start;
        margin: 0.5rem 0rem;
        img {
          width: 50px;
        }
        p {
          color: $Moderate-Cyan;
          font-size: 1.7rem;
        }
      }
      .quoteCard {
        img {
          width: 60px;
        }
        blockquote {
          font-size: 2rem;
        }
        .author {
          img {
            width: 120px;
          }
          .name {
            h4 {
              font-size: 2rem;
            }
            p {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
    .ThirdSection {
      .earlyAccess {
        h3 {
          font-size: 3rem;
        }
        p {
          font-size: 2rem;
          line-height: 1.5;
        }
      }
      .Form2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
      }
      input {
        padding: 0rem 2rem;
        font-size: 2rem;

        width: auto;
        height: 130px;
        max-width: 900px;
      }
      button {
        margin-top: 1rem;

        padding: 0rem 1rem;
        height: 130px;
        font-size: 2rem;
        max-width: 600px;
        width: 100%;
      }
    }
  }

  footer {
    img {
      width: 12%;
    }
    .gridFooter {
      img {
        width: 50px;
      }
    }
  }
}
